 body {
    background: #e6f2ee;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.scoreboard{
    background: #0a2342;
    padding: 40px;
    width: 500px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
}
.scoreboard:hover{
    background: linear-gradient(green,yellow);
    cursor: pointer;
    
}
.team{
    text-align: center;
    width: 45%;
}
.team h2 {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
} h2,h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}
.score {
    background:#0f1c33;
    color: #ff3333;
    font-size: 80px;
    padding: 25px 0;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: "Digital-7", monospace;
box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
.btn-row {
    display: flex;
    justify-content: center;
     gap: 10px;
}
.btn {
    background: #0f1c33;
    border: 2px solid #72849e;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}
.btn:hover {
    background: #1b335a;
}